* {
    margin: 0;
    font-size: 20px;
}

body {
    background-color: #222228;
    color: #f5f5f5
}

#cmd {
    font-size: 0;
    margin-left: 8px
}

#cmd input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #f5f5f5
}

#user {
    color: #00ff00
}

#dir {
    color: #4488ff
}

