* {
  margin: 0;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
}

span {
  white-space: pre; /*enable whitespace*/
}

body {
  background-color: #222228;
  color: #f5f5f5
}

#input-wrapper {
  display: flex;
  font-size: 0;
  margin-left: 8px;
}

.user-and-command {
  display: flex;
}

#history {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.history-item {
  display: flex;
}

.user-prefix {
  display: flex;
}

#input-wrapper input {
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  color: #f5f5f5;
  caret-color: transparent;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
}

.user {
  color: #00ff00
}

.dir {
  color: #4488ff
}

#cursor {
  font-weight: bold;
  position: absolute;
  width: 10px; /* should be size of font*/
  height: 20px; /* should be size of font*/
  animation: blink 1s step-start infinite;
  display: inline-block;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
